@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student @ViewData["Student"]</p>

<address>
    <strong>More information : </strong> <a href="ishmaelsan@gmail.com">ishmaelsan@gmail.com</a>
</Address>
